beautifulsoup4==4.11.0
boto3==1.21.37
botocore==1.24.37
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
configparser==3.8.1
cryptography==36.0.2
ctap-keyring-device==1.0.6
cycler==0.11.0
fido2==0.9.3
fonttools==4.33.2
gimme-aws-creds==2.4.4
idna==3.3
importlib-metadata==4.11.3
jmespath==1.0.0
keyring==23.5.0
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
okta==0.0.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
protobuf==3.19.4
pycparser==2.21
pyobjc-core==8.4.1
pyobjc-framework-Cocoa==8.4.1
pyobjc-framework-LocalAuthentication==8.4.1
pyobjc-framework-Security==8.4.1
pyparsing==3.0.8
python-dateutil==2.8.1
pytz==2022.1
requests==2.27.1
s3transfer==0.5.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sns==0.1
soupsieve==2.3.2
urllib3==1.26.9
zipp==3.8.0
